body{
    box-sizing: border-box; 
    background-color: none;
   
}

.logo{
    background-color: #0a9fe8;
    width: auto;
    height: 0 auto;
    border-bottom: solid 1px #098fd0; 
    margin: 5px;
    padding: 5px;
}


.icon{
    display: inline-block;
    width: 60px;
    height: 60px;
    background: none;
    margin: 4px;
    color: #e6f5fc;
    position: relative;
}

.icon i{
    line-height: 80px;
    font-size: 32px;
}

.icon:hover i{
    transform: scale(1.5);
    color: #b5e2f8;
}

.logo h2{
    color: white;
    display: inline-block;
}

legend{
    font-size: 18px;
}

fieldset{
    background-color: #f3f3f3;
    width: auto;
    height: auto; 
    margin: 5px;
    padding: 20px;
    border-radius: 20px;
    border-color: #b5e2f8;
}


input{
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:hover{
    border-color: #b5e2f8; 
    
}

input[type=text]:focus{
    border: 2px solid white;
    border-radius: 4px;
    
}

input[type=button] {
    background-color: #098fd0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #098fd0;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: #b5e2f8; 
    border-color: #098fd0;
    border-radius: 4px;
}

input[type=button]:focus{
    border: 2px solid white;
    border-radius: 4px;
    
}

#weather {
	background-color:none;
	width: 0 auto;
    height: 0 auto;
	padding: 15px;
    margin: 5px;
	text-align: left;
    overflow: hidden;
    letter-spacing: 0.5px;
    border: 1px solid #b5e2f8;
    border-radius: 10px;
}

#forecast{
    background-color:none;
	width: 0 auto;
    height: 0 auto;
	padding: 15px;
    margin: 5px;
	text-align: left;
    overflow: hidden;
    letter-spacing: 0.5px;
    border: 1px solid #b5e2f8;
    border-radius: 10px;
}

#sunRiseSet{
    background-color:none;
	width: 0 auto;
    height: 0 auto;
	padding: 15px;
    margin: 5px;
	text-align: left;
    overflow: hidden;
    letter-spacing: 0.5px;
    border: 1px solid #b5e2f8;
    border-radius: 10px;
}

@media only screen and (min-width:600px){
    
}

/*Eind van tabletscherm*/


/*Media queries for laptop scherm*/

@media only screen and (min-width:1000px){
    
}

/*eind van laptopscherm*/


/*large laptop scherm*/

@media only screen and (min-width:1366px){
    
}

/*eind van csscode*/


