body{
    box-sizing: border-box; 
    background-color: #0a9fe8;
}

.logo{
    background-color: #0a9fe8;
    width: auto;
    height: 0 auto;
    border-bottom: solid 1px #098fd0; 
    margin: 5px;
    padding: 5px;
}

.icon{
    display: inline-block;
    width: 60px;
    height: 60px;
    background: none;
    margin: 4px;
    color: #e6f5fc;
    position: relative;
}

.icon i{
    line-height: 80px;
    font-size: 32px;
}

.icon:hover i{
    transform: scale(1.5);
    color: #b5e2f8;
}

.logo h2{
    color: white;
    display: inline-block;
}

fieldset{
    width: auto;
    height: 100px; 
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    color: #098fd0;
}


@media only screen and (min-width:600px){
    
}

/*Eind van tabletscherm*/


/*Media queries for laptop scherm*/

@media only screen and (min-width:1000px){
    
}

/*eind van laptopscherm*/


/*large laptop scherm*/

@media only screen and (min-width:1366px){
    
}

/*eind van csscode*/


